html, body, div, label, input, h1, h2, h3, p, ul, li, img {
	margin: 0;
	padding: 0;
}

article, aside, figure, footer, header, hgroup,
menu, nav, section, fieldset, textarea, form, h4,
 { 
	display: block; 
}

body {
	margin: 0px;
	padding: 0px;
	/*background-position: fixed;*/
	background: #000;
}

/*======================rules for both banners======================*/

#banner {
	position: absolute;
	top: 210px;
	left: 400px;
}

.banner1 {
	text-align: center;
}

/*======================end banner rules======================*/

/*======================rules for nav menu======================*/

#container {
	width: 570px;
	text-align: center;
	margin-left: 416.5px;
}

#navmenu {
	width: 570px;
	height: 31px;
	padding-top: 90px;
	margin-left: 416.5px;
	margin: 0px auto;
}

#divlinks {
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	float: left;
	border:1px solid #000;
	background-color:#000;
	width: 100%;
}

#navmenu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#navmenu ul li {
	width: 130px;
	float: left;
	margin: 5px;
}

#navmenu ul li a {
	font-family: verdana, arial;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
	text-decoration: none;
	display: block;
	width: 130px;
	height: 40px;
	font-size: 20px;
}

#navmenu a:hover {
	background-position: 0px -40px;
	font-weight: bold;
	color: #fff200;
}

/*======================end nav menu rules======================*/

/*======================rules for contact form======================*/

#form-wrap{
	background-color: #42517F;
	width: 600px;
	border: 2px solid #888;
	margin: 50px auto;
	padding: 20px 0;
}

form{
	width: 500px;
	margin: 0 auto;
}

label{
	display: block;
	margin: 5px 0 5px 20px;
	font: 10px sans-serif;
	color: #FDDB38;
}

input{
	width: 250px;
	margin-left: 0 0 0 20px;
}

textarea{
	width: 250px;
	margin: 0 auto;
	/*margin: 0 0 0 20px;*/
}

fieldset{
	border: none;
	/*margin: 0 auto;*/
	background-color: #848C9C;
	padding: 0 0 20px 0;
	text-align: center;
}

.labelone{
	margin-top: 10px;
}

.btn{
	width: 125px;
}

form h4{
	margin: 20px 0 0 30px;
	font: 20px sans-serif;
	color: #cdcdcd;
	font-weight: bold;
}

/*======================end contact form======================*/

/*======================CSS styles for standard search box======================*/

#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: "Gochi Hand" Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

/*====================== rules for gallery ======================*/

.container {
	width: 900px;
	margin: 0px auto 0;
	padding-top: 50px;
}

header {
	background: #42517f;
	border-bottom: 1px solid #000;
}

header h3 {
	color: #FFA500;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 32px;
	word-spacing: 1px;
	text-shadow: 1px 2px 4px #000;
}

#content {
	background: #848c9c;
	background: linear-gradient (to top, #848c9c 0%, #687080 50%, #a7b1c5 100%);
	background: -webkit-linear-gradient (to top, #848c9c 0%, #687080 50%, #a7b1c5 100%);
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

.gallery {
	width: 528px;
	margin: auto;
}

.gallery ul {
	list-style: none;
}

.gallery ul li {
	float: left;
	margin: 10px;
}

.gallery img {
	display: block;
	padding: 5px;
	background: #42517f;
	border: 1px solid #99adeb;
	box-shadow: 4px 4px 10px #000;
}

.gallery img:hover {
	border: 1px solid #fff;
}

p {
	margin-left: 270px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #888;
	width: 900px;
}

#under {
	margin-left: 400px;
}

footer {

	background: #222;

}

#bottomdiv {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #ccc;
	background: #333;
}

footer p {
	color: #888;
	text-align: center;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 0px;
}

