body {
	margin: 0px;
	padding: 0px;
	background-color:#888;
}

h1 {
	font-family: "GochiHand" Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 72px;
	border: 2px solid #000;

	background-color: #296377;
}

#container {
	/*border: 1px solid red;*/
	width: 570px;
	text-align: center;
	margin-left: 416.5px;
}

#navmenu {
	width: 570px;
	height: 31px;
	padding: 0px;
	margin-left: 416.5px;
	margin: 0px auto;
	/*border: 2px solid #000;*/
}

#divlinks {
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	float: left;
	border:1px solid #000;
	background-color:#333;
	width: 100%;
}

#navmenu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#navmenu ul li {
	width: 130px;
	float: left;
	margin: 5px;
	border: 1px solid #333;
}

#navmenu ul li a {
	font-family: verdana, arial;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	display: block;
	width: 130px;
	height: 40ppx;
	font-size: 20px;
	background-color: orange;
}

#navmenu a:hover {
	background-position: 0px -40px;
	font-weight: bold;
	color: #4285F4;
}

/*CSS styles for standard search box*/

#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: "Gochi Hand" Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}






